<div id="content">
  <section id="widget-grid" class="">
    <!-- row -->
    <div class="row">
      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" role="widget">
          <header role="heading">
            <span class="widget-icon">
              <i class="fa fa-map"></i>
            </span>
            <h2>Map</h2>
            <span class="jarviswidget-loader">
              <i class="fa fa-refresh fa-spin"></i>
            </span>
          </header>
          <!-- widget div-->
          <div role="content">
            <!-- widget content -->
            <div class="widget-body">
              <!-- this is what the user will see -->
              <div class="row">
                <div id="gmap-wait" name="gmap-wait" align="center"></div>
                <div class="GmapShowDetailControl">
                  <a id="gmap-btnShowDetail" class="btn btn-default btn-sm">
                    <i class="fa fa-list"></i> Road List</a>
                </div>
                <div id="gmap"></div>
                <div id="gmap-ctrls">
                  <div id="gmap-ctrl1" class="row gmap-ctrl">
                    <div id="gmap-searchPanel">
                      <div class="form-group">
                        <div class="icon-addon addon-md">
                          <input class="form-control" id="gmap-txtSearch" style="font-size: 13px" placeholder="Enter to search ..." type="text">
                          <label class="fa fa-search" for="gmap-txtSearch" style="font-size: 13px" rel="tooltip" title="Enter to search"></label>
                        </div>
                      </div>
                    </div>
                    <div id="gmapRoadTableDiv" style="overflow-y: auto;">
                      <!-- <div id="results"></div> -->
                      <table id="gmapRoadsTable" class="table table-hover table-sm" style="font-size: 13px">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                      </table>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                  </div>
                  <div id="gmap-ctrl2" class="gmap-ctrl">
                    <div>
                      <a id="gmap-setPoint" class="btn btn-default btn-sm">
                        <i class="fa fa-map-marker"></i>
                      </a>
                    </div>
                    <div>
                      <a id="gmap-resetView" class="btn btn-default btn-sm">
                        <i class="fa fa-refresh"></i>
                      </a>
                    </div>
                    <div>
                      <a id="gmap-addIconPoint" class="btn btn-default btn-sm">
                        <i class="fa fa-plus-circle"></i>
                      </a>
                    </div>

                    <div id="gmap-ctrl3" class="gmap-ctrl">
                    </div>
                  </div>
                  <div id="gmap-description" class="gmap-ctrl">
                  </div>
                  <div id="gmap-DialogContainer">
                    <div id="gmap-AddIconDialog">
                      <div class="form-group">
                        <!-- <label for="gmap-iconType" class="col-md-2 control-label">Type</label> -->
                        <div class="col-md-4">
                          <select name="gmap-iconType" id="gmap-iconType" class="form-control">
                            <option>camera</option>
                            <option>info</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <br>
                        <!-- <label class="col-md-2 control-label">Descriptions</label> -->
                        <div class="col-md-12">
                          <textarea class="form-control" id="gmap-addIconDesct" placeholder="Textarea" rows="4" placeholder="Descriptions"></textarea>
                        </div>
                      </div>
                      <!-- <label for="gmap-addIconDesct">Descriptions</label>
                      <textarea name="gmap-addIconDesct" id="gmap-addIconDesct" rows="5" style="width: 100%" class="ui-widget-content ui-corner-all"></textarea>
                      <input type="button" id="gmap-btnAddIconSave" class="btn btn-success btn-sm" tabindex="-1" style="position:absolute; top:-1000px"> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->
    <!-- row -->
    <div class="row">
      <!-- a blank row to get started -->
      <div class="col-sm-12">
        <!-- your contents here -->
      </div>
    </div>
    <!-- end row -->
  </section>
  <!-- end widget grid -->
</div>
