#gmap {
  height:500px;
  border-style: groove;
  border-width: 1px;
  /* background: transparent url(https://loading.io/spinners/camera/index.svg) no-repeat center center; */
}
.hidden {
  display: none;
}


