<ul class="header-dropdown-list hidden-xs ng-cloak">
  <li class="dropdown" ngbDropdown>
    <a class="dropdown-toggle" ngbDropdownToggle>
      <img src="../../../../assets/img/blank.gif" class="flag flag-{{currentLanguage.region}}" alt="{{currentLanguage.alt}}">
      <span> {{currentLanguage.title}} </span>
      <i class="fa fa-angle-down"></i>
    </a>
    <ul ngbDropdownMenu class="dropdown-menu pull-right">
      <li [class.active]="language==currentLanguage" *ngFor="let language of languages">
        <a (click)="setLanguage(language)" class="dropdown-item" >
          <img src="../../../../assets/img/blank.gif" class="flag flag-{{language.region}}" alt="{{language.alt}}">
          {{language.title}}
        </a>
      </li>
    </ul>
  </li>
</ul>
