<aside id="left-panel">

  <!-- User info -->
  <app-login-info></app-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>
      <li>
        <a title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span
          class="menu-item-parent">{{'Dashboard'}}</span></a>
        <ul>
          <!-- <li routerLinkActive="active">
            <a routerLink="/dashboard/analytics">{{'Analytics Dashboard'}}</a>
          </li> -->
          <li routerLinkActive="active">
            <a routerLink="/map">{{'Map'}}</a>
          </li>
        </ul>
      </li>

      <!--<li aside-chat></li>-->
    </ul>

  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
